<div class="container-fluid bg-secondary-light py-3">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
      <div *ngIf="loading" class="loading d-flex justify-content-center align-items-center">
        <p class="text-center"><i class="fas fa-spinner fa-spin fa-4x"></i><br>Carregando...</p>
      </div>
      <div class="card-deck" >
        <div class="card border-1" *ngFor="let post of posts" style="background-color: #9a0002;">
          <a [href]="post.link" target="_blank" title="{{ post.title.rendered }}">
            <div class="card-header bg-action text-white text-center p-2">{{ post.title.rendered | truncate:[56, ' ...'] }}</div>
            <img *ngIf="post['_embedded']['wp:featuredmedia'][0]['id']" class="card-img-bottom" [src]="post['_embedded']['wp:featuredmedia'][0]['media_details'].sizes['medium'].source_url"  alt="Card image cap">
            <img *ngIf="post['_embedded']['wp:featuredmedia'][0]['code'] === 'rest_forbidden'" class="card-img-bottom" src="assets/no-image.png" alt="Card image cap">
<!--            <div class="card-body text-justify"[innerHTML]="post.excerpt.rendered"></div>-->
          </a>
        </div>
      </div>

    </div>
  </div>
  <div class="text-right">
    <button type="button" target="_blank" (click)="irParaOBlog()" mdbBtn style="background-color:#9a0002; color: white; font-size: 19px;text-transform: none; margin-top: 20px; border-radius: 8px;" class="waves-light"
            data-toggle="modal" data-target="#basicExample" mdbWavesEffect>Mostrar mais</button>
  </div>
</div>
