
<mdb-carousel class="carousel slide display-none-mobil" >
    <mdb-carousel-item class="img-banner">
      <div class="view w-100 " >
        <img class="w-100" src="assets/sintelmarkbanner.png" style="border-bottom: solid 14px #9a0002;">
        <div class="mask rgba-stylish-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <img class="" src="assets/sintelmarkbranco.png">
        <hr style="border-top: 2px solid rgba(0,0,0,.1);background: white;">
        <p style="font-weight: 500; font-size: 32px;line-height: 40px;">A conexão que faltava entre empresas e colaboradores</p>
      </div>
    </mdb-carousel-item>

</mdb-carousel>


<div class="container main-content descricao-abit" >
<!--  <hr />-->
  <p class="text-center"><strong>Portal de Empregos Sintelmark by Reachr</strong></p>
  <p class="text-center"><strong>Portal de Empregos Sintelmark</strong> é o local onde empresas e profissionais do setor de telesserviços se encontram quando o assunto é Recrutamento e Seleção.</p>
  <p class="text-center">Desenvolvida em parceria com a <strong>Reachr</strong>, o Portal de Empregos Sintelmark é uma plataforma on-line que une a expertise de recrutamento com tecnologia de ponta, aproximando você que quer contratar à profissionais em busca de oportunidades no setor de forma simples, inteligente e assertiva.</p>

</div>

<hr class="divider">

<div>
  <div class="content-ab-jobs" >
    <div >
      <mat-divider class="vertical-divider"></mat-divider>
      <span class="historia-nome-ab-jobs">Por que fazer parte do Portal de Empregos Sintelmark:</span>
    </div>
    <div class="descricao-abit">
      <div class="text-format">
        <p>
          Fique em evidência para as melhores empresas do setor que contratam mais de 30.000 colaboradores por ano!
        </p>

        <p>
          Além de aumentar suas chances, ao cadastrar seu currículo você terá acesso a indicadores que o ajudarão a compreender melhor o seu perfil e atingir o sucesso profissional. E o que é melhor, o cadastro é gratuito!
        </p>
      </div>
      <mdb-carousel [animation]="'slide'" [interval]="15000">
        <mdb-carousel-item class="rounded">
          <!-- News jumbotron -->
          <div class="row shadow mb-5 bg-white rounded" style="margin-top: 15px; width: 100%;">
            <div class="col-md-4" style="background: #cb0001; padding: 15px;">

              <!-- Featured image -->
              <div class=" overlay">
                <img src="assets/empregabilidade.png"  width="100%" alt="Sample image for first version of blog listing">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>

            <div class="col-md-8" style="background: #f7f5f7; padding: 45px;">
              <!-- Excerpt -->
              <h1 class="font-weight-bold">Índice de empregabilidade</h1>
              <p class="font-weight-normal">
                A inteligência artificial da plataforma Reachr analisa suas informações curriculares com informações do seu mercado de trabalho e demais currículos cadastrados no banco de talentos. Após isto, disponibilizamos para você um comparativo entre seu perfil e demais perfis cadastrados, indicando suas melhores competências e pontos que você pode repensar para se tornar um profissional mais atraente ao mercado de trabalho</p>

            </div>
          </div>

        </mdb-carousel-item>
        <mdb-carousel-item >
          <!-- News jumbotron -->
          <div class="row shadow mb-5 bg-white rounded" style="margin-top: 15px;width: 100%;">
            <div class="col-md-4" style="background: #cb0001; padding: 15px;">

              <!-- Featured image -->
              <div class="overlay">
                <img src="assets/avaliacaocomportamental.png" style="height: 70%;width: 70%;padding-left: 43px;" alt="Sample image for first version of blog listing">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>

            <div class="col-md-8" style="background: #f7f5f7; padding: 45px;">
              <!-- Excerpt -->
              <h1 class="font-weight-bold">Avaliação Comportamental</h1>
              <p class="font-weight-normal">Hoje em dia, as habilidades comportamentais são tão importantes quanto as habilidades técnicas e conhecer seu perfil o ajudará a explorar seus pontos fortes e trabalhar habilidades menos desenvolvidas para então alcançar a vaga tão esperada!</p>

            </div>
          </div>
        </mdb-carousel-item>
      </mdb-carousel>

      <div class="text-center " style="margin-top: 50px;">
        <button type="button" (click)="irParaOCandidato()" mdbBtn style="background-color:#9a0002; color: white; font-size: 19px;text-transform: none; border-radius: 8px;" class="waves-light"
                data-toggle="modal" data-target="#basicExample" mdbWavesEffect><strong>Cadastre</strong> seu curriculo <strong>gratuitamente</strong></button>
      </div>

    </div>
  </div>
</div>

<hr class="divider">


<div>
  <div class="content-ab-jobs" >
    <div >
      <mat-divider class="vertical-divider"></mat-divider>
      <span class="historia-nome-ab-jobs">Vagas</span>
    </div>
    <div class="descricao-abit">
      <app-vagas></app-vagas>

      <div class="text-center ">

        <button type="button" (click)="irParaObancoDeTalentos()" mdbBtn style="background-color:#9a0002; color: white; font-size: 19px;text-transform: none; margin-top: 40px; margin-bottom: 20px;border-radius: 8px;" class="waves-light"
                data-toggle="modal" data-target="#basicExample" mdbWavesEffect>Quero me <strong>candidatar</strong></button>
      </div>

    </div>
  </div>
</div>

<hr class="divider">

<div>
  <div class="content-ab-jobs" id="inventario-comportamental">
    <div >
      <mat-divider class="vertical-divider"></mat-divider>
      <span class="historia-nome-ab-jobs">Por que contratar com o Portal de Empregos Sintelmark:</span>
    </div>
    <div class="descricao-abit">
      <div class="text-format">
          <span>
            Ao publicar vagas de trabalho, sua empresa garante que várias etapas operacionais serão automatizadas, sem com isso tirar a eficiência e assertividade do processo de recrutamento.
          </span>
        <span>
            Entendemos suas necessidades e priorizamos 3 pilares importantes no processo, para que o gestor da vaga ganhe em agilidade, redução de custos e tempo de contratação:
          </span>
      </div>

      <mdb-carousel [animation]="'slide'" [interval]="15000" style="margin-top: 20%">
        <mdb-carousel-item >
          <!-- News jumbotron -->
          <div class="row shadow mb-5 bg-white rounded" style="margin-top: 15px; width: 100%;">
            <div class="col-md-4" style="background: #cb0001; padding: 15px;">

              <!-- Featured image -->
              <div class="view overlay">
                <img src="assets/iconeatracao.png" class="img-fluid" alt="Sample image for first version of blog listing" style="max-width: 100% !important;">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>

            <div class="col-md-8 box-chance1">
              <!-- Excerpt -->
              <p class="font-italic">Publique suas vagas em um único lugar e ATRAIA os melhores candidatos:</p>
              <p class="font-italic">>	Divulgue nos principais bancos de currículos do país;</p>
              <p class="font-italic">>	Importe o banco de talentos da sua empresa;</p>
              <p class="font-italic">>	Trabalhe campanhas customizadas através de email Marketing e redes sociais;</p>
              <p class="font-italic">> Ative Programas de indicação.</p>

            </div>
          </div>

        </mdb-carousel-item>
        <mdb-carousel-item >
          <!-- News jumbotron -->
          <div class="row shadow mb-5 bg-white rounded" style="margin-top: 15px; width: 100%;">
            <div class="col-md-4" style="background: #cb0001; padding: 15px;">

              <!-- Featured image -->
              <div class="view overlay">
                <img src="assets/iconeselecao.png" class="img-fluid" alt="Sample image for first version of blog listing" style="max-width: 100% !important;">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>

            <div class="col-md-8 box-chance1">
              <!-- Excerpt -->
              <p class="font-italic">Utilize nossa inteligência artificial para SELECIONAR seu próximo colaborador:</p>
              <p class="font-italic">> Avaliação de aspectos comportamentais, técnicos e curriculares;</p>
              <p class="font-italic">>	Combinação entre o fit cultural da empresa e perfil do candidato;</p>
              <p class="font-italic">>	Customização para provas e testes específicos;</p>
              <p class="font-italic">> Vídeo entrevistas.</p>

            </div>
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <!-- News jumbotron -->
          <div class="row shadow mb-5 bg-white rounded" style="margin-top: 15px; width: 100%;">
            <div class="col-md-4" style="background: #cb0001; padding: 15px;">

              <!-- Featured image -->
              <div class="view overlay">
                <img src="assets/iconegestao.png" class="img-fluid" alt="Sample image for first version of blog listing" style="max-width: 100% !important;">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>

            <div class="col-md-8 box-gestao">
              <!-- Excerpt -->
              <p class="font-italic">Continue no controle e GERENCIE todo o processo:</p>
              <p class="font-italic">> Acesso a todos os indicadores;</p>
              <p class="font-italic">>	Acesso a todos os candidatos;</p>
              <p class="font-italic">>	Customização e controle de todo o processo.</p>

            </div>
          </div>
        </mdb-carousel-item>
      </mdb-carousel>



      <div class="text-center mb-4" style="margin-top: 50px;">
        <button type="button" mdbBtn style="background-color:#9a0002; color: white; font-size: 19px;text-transform: none;border-radius: 8px;" class="waves-light"
                data-toggle="modal" (click)="irParaOContato()" data-target="#basicExample" mdbWavesEffect><strong>Solicite uma demonstração sem compromisso</strong></button>
      </div>

    </div>
  </div>
</div>

<div class="content-blog">
  <div class="content-ab-jobs" >
    <div >
      <mat-divider class="vertical-divider"></mat-divider>
      <span class="historia-nome-ab-jobs">Últimas do blog</span>
    </div>
    <div class="descricao-abit">


      <app-blog></app-blog>



    </div>
  </div>
</div>
