.banner-item {
  height: 400px;
}

.format-titleh2 {
  border-left: 4px solid #003776;

  font-size: 20px;
}

.divider {
  width: 90%;
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 2px solid #000;
}


.content-ab-jobs{
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 20px;

}

.content-blog{
background-color: #f7f5f7;

}

.vertical-divider {

  display: initial !important;
  margin: 0 !important;
  border-width: 20px 6px 6px 6px;
  border-right-style: solid;
  border-color: #9a0002 !important;
}

.descricao-abit{
  font-size: 20px;
  text-align: initial;
  letter-spacing: normal;
  margin-top: 40px;
  line-height: 1.5;
}

.button-100{
  font-size: 19px;
  color: #fff;
  width: 50%;
  margin-top: 25px !important;
  margin-bottom: 10px;
  background-color: #e96f28;
}

.button-candidatar{
  font-size: 19px;
  color: #fff;
  width: 50%;
  margin-top: 25px !important;
  margin-bottom: 30px !important;
  background-color: #e96f28;
}

.button-blog{
  font-size: 19px;
  color: #fff;
  width: 30%;
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  background-color: #e96f28;
}

.historia-nome-ab-jobs {
  font-size: 30px;
  font-weight: 500;
  padding-left: 10px;
  font-family: Roboto, "Helvetica Neue", sans-serif;;
}


/*teste*/


.img-banner {
  height: 500px;
}

.carousel-caption {
  text-align: left;
  top: 8%;
  width: 25%;
  height: auto;
  margin-left: -10%;
}

.carousel-caption p{
  margin: 20px 0px;
}

.view img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  object-fit: cover;
}

.text-format {
  margin-bottom: 2%;
}

.box-chance1 {
  padding: 10px 0px 10px 40px;
  background: #f7f5f7;
}

.box-gestao {
  background: #f7f5f7;
  padding: 40px 60px;
}

@media only screen and (max-width: 600px) {
  .carousel-caption {
    top: 25%;
    width: 100%;
    height: auto;
    margin-left: -15%;
  }

  .box-gestao {
    background: #f7f5f7;
    padding: 40px 25px;
  }
  .display-none-mobil{
    display: none;
  }
}


