
<mdb-navbar SideClass="navbar navbar-light navbar-expand-lg " [containerInside]="false">
  <a class="" href="https://www.reachr.com.br/sintelmark/#/">
    <img  src="assets/sintelmarklogo.png" height="80px" class="d-inline-block align-top ml-5" alt="">
  </a>


  <links>

    <ul class="nav navbar-nav ml-auto justify-content-start">
      <li class="nav-item">
        <a routerLink="/fale-conosco" fragment="fale-conosco" class="nav-link waves-light" style="margin: 15px; font-weight: 500;
           font-size: 18px;">FALE CONOSCO</a>
      </li>
      <li class="nav-item">
        <button type="button" (click)="irParaReachrLogin()" mdbBtn style="background-color:#ff0000; color: white;" class="waves-light"
                data-toggle="modal" data-target="#basicExample" mdbWavesEffect>ENTRAR | CADASTRAR</button>
      </li>
    </ul>
  </links>


</mdb-navbar>
